In [1]:
import pandas as pd

In [2]:
file_path = '/Users/irasafonik/Desktop/AIbot/final_report.csv'

final_report = pd.read_csv(file_path, index_col=0)

final_report

,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,Apple,-1.45,-0.75,-0.15,-0.23,-1.44
1,Microsoft,-7.22,-5.08,-6.65,-2.30,-4.05
2,Tesla,-16.58,-24.06,-15.77,-10.48,-3.61

In [3]:
file_path = '/Users/irasafonik/Desktop/AIbot/financial_report.csv'

financial_report = pd.read_csv(file_path, index_col=0)

financial_report

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,Microsoft,2023,211915,72361,411976,205753,87582,0.00,0.00,0.00,0.00,0.00
1,Microsoft,2022,198270,72738,364840,198298,89035,-6.44,0.52,-11.44,-3.62,1.66
2,Microsoft,2021,168088,61271,333779,191791,76740,-15.22,-15.76,-8.51,-3.28,-13.81
3,Tesla,2023,96773,14974,106618,43009,13256,0.00,0.00,0.00,0.00,0.00
4,Tesla,2022,81462,12556,82338,36440,14724,-15.82,-16.15,-22.77,-15.27,11.07
5,Tesla,2021,53821,5519,62131,30548,11497,-33.93,-56.04,-24.54,-16.17,-21.92
6,Apple,2023,383285,96995,352583,290437,110543,0.00,0.00,0.00,0.00,0.00
7,Apple,2022,394328,99803,352755,302083,122151,2.88,2.89,0.05,4.01,10.50
8,Apple,2021,365817,94680,351002,287912,104038,-7.23,-5.13,-0.50,-4.69,-14.83

In [ ]:
# Define the chatbot function
def financial_chatbot(query, company, year=None):
    # Responses for different queries for final_report
    final_report_responses = {
        'revenue growth,%': f"The revenue growth for {company} was {final_report[final_report['Company'] == company]['Revenue Growth (%)'].values[0]}%.",
        'net income growth,%': f"The net income growth for {company} was {final_report[final_report['Company'] == company]['Net Income Growth (%)'].values[0]}%.",
        'assets growth,%': f"The assets growth for {company} was {final_report[final_report['Company'] == company]['Assets Growth (%)'].values[0]}%.",
        'liabilities growth,%': f"The liabilities growth for {company} was {final_report[final_report['Company'] == company]['Liabilities Growth (%)'].values[0]}%.",
        'cash flow from operations,%': f"The cash flow from operations growth for {company} was {final_report[final_report['Company'] == company]['Cash Flow from Operations Growth(%)'].values[0]}%."
    }

    # Responses for different queries for financial_report
    if year:
        financial_report_responses = {
            'total revenue': f"The total revenue for {company} in {year} was {financial_report[(financial_report['Company'] == company) & (financial_report['Year'] == year)]['Total Revenue'].values[0]}.",
            'net income': f"The net income for {company} in {year} was {financial_report[(financial_report['Company'] == company) & (financial_report['Year'] == year)]['Net Income'].values[0]}.",
            'total assets': f"The total assets for {company} in {year} were {financial_report[(financial_report['Company'] == company) & (financial_report['Year'] == year)]['Total Assets'].values[0]}.",
            'total liabilities': f"The total liabilities for {company} in {year} were {financial_report[(financial_report['Company'] == company) & (financial_report['Year'] == year)]['Total Liabilities'].values[0]}.",
            'cash flow from operations': f"The cash flow from operations for {company} in {year} was {financial_report[(financial_report['Company'] == company) & (financial_report['Year'] == year)]['Cash Flow from Operating Activities'].values[0]}."
        }
    else:
        financial_report_responses = {}

    # Combine both dictionaries
    responses = {**final_report_responses, **financial_report_responses}

    # Check if the user query is in the responses dictionary
    if query in responses:
        return responses[query]
    else:
        return "Sorry, I can only provide information on predefined queries."
# Main loop for the chatbot
while True:
    print("-------------------------------------------------------------------")
    user_input = input("\nEnter 'Hi' to start the chatbot session; type 'exit' to quit: ").lower()
    if user_input == "exit":
        break
    elif user_input == "hi":
        print("\nHello! Welcome to the AI-driven Financial Chatbot!!!")
        print("\nI can help you with your financial queries.")
        print("Please select the company \n1. Apple, \n2. Microsoft, \n3. Tesla ")
        company_input = input("Enter company name: ").capitalize()
        
        if company_input not in ['Apple', 'Microsoft', 'Tesla']:
            print("Invalid Company Name. Please check and enter the correct company name by starting the chatbot session again.")
            continue
        else:
            year_input = input("Please select the year \n1. 2023, \n2. 2022, \n3. 2021: ")
            if year_input.isdigit() and int(year_input) in [2023, 2022, 2021]:
                year_input = int(year_input)
            else:
                print("Please enter a valid fiscal year by starting the chatbot session again.")
                continue
            
            while True:
                user_query = input("\nPlease enter your query (e.g., \n1. 'revenue growth,%', \n2. 'net income growth,%', \n3. 'assets growth,%', \n4. 'liabilities growth,%', \n5. 'cash flow from operations,%', \n6. 'total revenue', \n7. 'net income', \n8. 'total assets', \n9. 'total liabilities', \n10. 'cash flow from operations'): ").lower()
                response = financial_chatbot(user_query, company_input, year_input)
                print(response)
                more_queries = input("\nDo you have another query for the same company and year? (yes/no): ").lower()
                if more_queries != 'yes':
                    break
    else:
        print("Please enter 'Hi' to start the chatbot session properly.")
        continue

-------------------------------------------------------------------